@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

.products-card {
  cursor: pointer;
  transition: 2s;
}
.products-card:hover {
  transform: scale(1.1);
}

.text-red {
  color: #ed174a;
}

.text-blue {
  color: #233a95;
}

.bg-red {
  background-color: #ed174a !important;
  border-color: #ed174a !important;
  color: #fff !important;
}

.form-control:focus {
  border-color: #ed174a !important;
  box-shadow: none !important;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}
